html,body{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: Helvetica;
}
nav{
  display: flex;
  background-color: #7ACC2D;
  padding: 10px;
  color: white;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
}
nav li{
  padding-left: 20px;
  list-style: none;
}
nav li a{
  color: white;
  text-decoration: none;
}
/* hover-> propiedades de un color */
nav li a:hover{
  color: white;
}

/* *******************main seccion */

.main_seccion{
  padding: 15%;
  text-align: center;
}

.produts{
  background-image: url("../imagenes/1.png");
  height: 100px;
  ba
}
